<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @project_state.name %>
</p>

<%= link_to 'Edit', edit_project_state_path(@project_state) %> |
<%= link_to 'Back', project_states_path %>
