 <p class="notice"><%= notice %></p>
 <p class="alert"><%= alert %></p>
 

<% render file: 'devise/sessions/new.html.erb' %>

<% if can? :logout, User %>
  <%= link_to 'logout', destroy_user_session_path, method: :delete %>
<% end %>