// Place all the styles related to the Employees controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'common_color';

//====SIGN-IN====
#sign-in{
	width: 220px;
	margin: 0 auto;
	.alert{
		color: red;
	}
}
//====NAV-BAR====
body{
	margin: 0;
	overflow-y:scroll;
}
$nav_bar_height : 30px;
#employee-nav-bar{
	cursor: default;
	height: $nav_bar_height;
	color: white;
	background-color: lighten($heliotrope, 30%);
	margin-bottom: 20px;
}

#employee-nav-bar a{
	color: #fff;
	text-decoration: none;
  &:visited {
    color: #fff;
  }
  &:hover {
    color: #fff;
  }
}

#employee-nav-bar-title{
	position: absolute;
	margin-top: 3px;
	font-size: 1.2em;
	font-weight: 900;
	margin-left: 2px;
	margin-right: 15px;
	color: Cornsilk;
}


#employee-nav-bar div{
	display: inline-block;
}

#employee-nav-bar .link{
	margin-left: 120px;
	height: $nav_bar_height;
}

#employee-nav-bar .right{
	position: absolute;
	right: 10px;
	height: $nav_bar_height;
}

$elm_padding_top: 4px;
#employee-nav-bar .elm{
	padding: $elm_padding_top 5px 0px 5px;
	height: $nav_bar_height - $elm_padding_top;
	&:hover {
    background-color: $heliotrope;
  }
}

#employee-nav-bar-function-area{
	box-sizing: border-box;
	position: absolute;
	top: 0px;
	left: 50%;
	// width: 180px;
	height: $nav_bar_height;
	padding: 0 15px;
	// margin-left: -90px;
	text-align:center;
	background-color: lighten($heliotrope, 40%);
  &:hover {
  	// cursor: pointer;
  	// $border-style : 1px solid white;
  	// border-left: $border-style;
  	// border-right: $border-style;
   //  color: #fff;
   //  background-color: lighten($heliotrope, 20%);
  }
}

#employee-nav-bar-function-area div{
	margin-top: $elm_padding_top+1;
	height: $nav_bar_height - $elm_padding_top;
}


//====MANAGE-MAIN-PAGE====
.manage-grid{
	.title{
		padding: 6px;
		color: white;
		vertical-align: middle;
		// margin-bottom: 15px;
		font-size: 12px;
		a:visited {
			color: white;
		}
		a:hover {
			color: white;
		}
	}
	.title-text{
		margin-left: 20px;
		font-size: 26px;
		margin-right: 10px;
	}
	.list-cells{
	  border: solid 1px gray;
	  border-top: none;
	  padding: 20px 5px;
	}
	.date{
		position: absolute;
		right: 20%;
		color: gray;
		font-size: 10px;
		height: 16px;
		line-height: 20px;
	}
	.list-cell-line{
		position: relative;
		width: 100%;
		// border-bottom: dashed 1px #CCCCCC;
		margin-bottom: 1px;
		margin-top: 1px;
	}
	.list-cell{
		display: inline;
		font-size: 16px;
		list-style: none;
		a{
		  	text-decoration: none;
			font-weight: 800;
			margin-left: 30px;
		}
	}
	.type{
		position: absolute;
		font-size: 12px;
		height: 16px;
		line-height: 20px;
	}
	.vertical-hr{
		display: inline-block;
		width: 0;
		height: 100%;
		// border-left: solid 1px black;
	}
} 	

#manage-grid-up, #manage-grid-down{
	height: 330px;
	// background-color: gray;
}

.manage-grid-left, .manage-grid-right{
	text-align: left;
	margin: 0;
	vertical-align: top;
	display: inline-block;
	width: 47%;
	height: 100%;
	hr{
		margin: 0px;
		border: none;
		border-top: dashed 1px #CCCCCC;	
	}
}
.manage-project{
	.title{
		background-color: #0099CC;
	}
	a{
		color: #000066;
		&:visited {
		    color: #000066;
		}
		&:hover {
			color: #000066;
		}
	 }
	.list-cell-line{
		&:hover{
			background-color: lighten(#0099CC, 40%); 
		}
	}
	.type{
		left: 55%;
		color: darken(#0099CC, 20%);
	}
}

.manage-customer{
	.title{
		background-color: #99CC00;
	}
	.list-cell-line{
		&:hover{
			background-color: lighten(#99CC00, 40%); 
		}
	}
	$acolor: darken(darkslategray, 10%);
	a{
		color: $acolor;
		&:visited {
		    color: $acolor;
		}
		&:hover {
			color: $acolor;
		}
	 }
	.type{
		right: 30%;
		color: darkslategray;
	}
}

//====MANAGE====
.employee-data-table{
	text-align: left;
	border-collapse:collapse;  
	border-spacing:0; 
	width: 80%;
	a{
		$color: darken(blue, 30%);
		text-decoration: none;
		color: $color;
	}
	th{
		$color: white;
		color: $color;
		a{
			text-decoration: none;
			color: $color;
		}
		height: 32px;
		background-color: #7C124F;
	}
	.filters th{
		background-color: white;
	}
	th,td{
		 border: 1px solid black;
		 padding: 0px;
	}
	td{
		padding-left: 5px;
	}
}

//====COMMON LIST====
.employee-common-list{
	width: 200px;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
}
//====PROJECT-SHOW(tmp)====
#project-info{
	margin-bottom: 15px;
	hr{
		width: 80%;
	}
 .info-block{
		position: relative;
		left: 50%;
		$width: 600px;
		width: $width;
		margin-left: -$width/2;
		text-align: left;
		a{
			text-decoration: none;
			color: inherit;
		}
		div{
			display: inline;
			margin-right: 15px;
		}
	}
 	div span{
		color: green;
	}
}
.project-table{
	text-align: left;
	border-collapse:collapse;  
	border-spacing:0; 
	width: 80%;	
	th{
			$color: white;
			color: $color;
			a{
				text-decoration: none;
				color: $color;
			}
			height: 32px;
			color: #7C124F;
	}
	th,td{
		 border: 1px solid black;
		 padding: 3px;
		 text-align: center;
	}
	td{
		padding-left: 5px;
	}
}
.project-table-header{
	width: 80%;
	background-color: #7C124F;
	color: white;
	margin: 0 auto;
	padding: 10px 0px;
	font-weight: 700;
	span{
		margin-right: 15px;
	}
}
#project-info-header{
	background-color: darken(green, 10%);
	color: white;
	font-weight: 800;
	font-size: 18px;
	padding: 5px 0;
	width: 80%;
	margin: 0 auto;
	a{
		color: gray;
	}
}
#project-news-list{
	.title{
		a{
			text-decoration: none;
			color: inherit;
			margin-left: 2px;
		}
	}
	.function-link{
		margin-left: 10px;
	}
}

//====FUND LIST====
#employee-fund-list{
	color: black;
	text-align: left;
	width: 640px;
	margin: 0 auto;
	ul{
		span{
			float: right;
			margin-right: 10px;
		}
	}
}

.fund-data-table{
	text-align: left;
	td, th{
		padding-right: 25px;
	}
	th{
		$color: black;
		color: $color;
		a{
			text-decoration: none;
			color: $color;
			&:visited{
				color: $color;
			}
		}
	}
}

.fund-detail{
	text-align: left;
	width: 360px;
	margin: 0 auto;
}

.info-show{
	position: relative;
	left: 50%;
	$width: 600px;
	width: $width;
	margin-left: -$width/2;
	text-align: left;
	div span{
		color: green;
	}
	div{
		display: inline;
		margin-right: 15px;
	}
}

.fund-amount-show{
	text-align: right;
	&.positive{
		color: blue;
	}
	&.negative{
		color: red;
	}
}

.common-list{
	text-align: left;
	td, th{
		padding-right: 25px;
	}
	.list-function{
		padding-right: 2px;
	}
}

.currency-show{
	text-align: right;
}

.autidts-history-table{
	text-align: left;
	td, th{
		padding-right: 25px;
		margin-right: 10px;
		border-bottom: solid 1px gray
	}
	th{
		&.content{
			width: 320px;
		}
		&.operator{
			width: 64px;
		}
		$color: black;
		color: $color;
		a{
			text-decoration: none;
			color: $color;
			&:visited{
				color: $color;
			}
		}
	}
}

.autidts-history-old-value{
	color: gray;
}

.autidts-history-new-value{
	color: blue;
}

.pagination{
	span a{
		text-decoration: none;
		color: darken(blue, 20%);
	}
	.page{
		a{
			color: blue;
		}
		margin-right: 5px;
	}
	.current{
		color: red;
		font-weight: 800;
	}

}

#clear-filter{
	a{
		color: gray;
		text-decoration: none;
	}
}