<h1>学校单位列表</h1>
<%= link_to '新建', new_univ_unit_path %>
<div class="common-list">
<table>
  <tr>
    <th>名称</th>
    <th></th>
    <th></th>
  </tr>

<% @univ_units.each do |univ_unit| %>
  <tr>
    <td><%= univ_unit.name %></td>
    <td class='list-function'><%= link_to '编辑', edit_univ_unit_path(univ_unit) %></td>
    <td class='list-function'><%= link_to '删除', univ_unit, del_confirm %></td>
  </tr>
<% end %>
</table>
</div>


