<h1>资金使用类型列表</h1>
<%= link_to '新建', new_usage_type_path %>
<div class="common-list">
<table>
  <tr>
    <th>名称</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @usage_types.each do |usage_type| %>
  <tr>
    <td><%= usage_type.name %></td>
    <td class='list-function'><%= link_to '编辑', edit_usage_type_path(usage_type) %></td>
    <td class='list-function'><%= link_to '删除', usage_type, del_confirm%></td>
  </tr>
<% end %>
</table>
</div>


