<%= content_for :nav_bar_function_area do %>
  <% if current_user.user_type == :Employee.to_s %>
    <%= link_to '编辑', edit_usage_type_path(@usage_type) %>
  <% end %>
<% end %>
<div class="info-show">
  <div class="info-block">
    <p>
      <div><strong>名称：</strong> <span><%= @usage_type.name %></span></div>
  </div>
</div>