
<tr>
      <td><table border="0" width="100%" cellspacing="0" cellpadding="5">
        <tbody><!--<tr>
           <tdbgcolor="#7C124F"><font color="#45726B" size="2" face="Arial, Helvetica, sans-serif"><font color="#FFFFFF" size="3"><strong>项目信息管理 ： </strong></font><font color="#45726B" size="3" face="Arial, Helvetica, sans-serif">
            <input name="Confirm4" type="submit" value="添加">
          </font><font color="#FFFFFF" size="3" face="Arial, Helvetica, sans-serif"><strong> &nbsp;  &nbsp; &nbsp; &nbsp; </strong></font></font><font color="#FFFFFF" size="3" face="Arial, Helvetica, sans-serif"><strong>  &nbsp;  &nbsp;&nbsp; </strong></font>
          <label>
            <select name="selectjxj" id="selectjxj">
<option>奖学金</option>
<option>选择类型</option>
              <option>助学金</option>
              <option>奖助学金</option>
              <option>奖教金</option>
              <option>学科建设基金 </option>
              <option>学生国际交流 </option>
              <option>学生科创</option>
              <option>学生就业</option>
              <option>学生活动</option>
              <option>教师国际交流</option>
              <option>特聘教授 </option>
              <option>校园文化 </option>
              <option>学校发展基金 </option>
              <option>校长基金</option>
              <option>社会公益基金 </option>
              <option>其他</option>
              <option>大病救助金</option>
            </select>
            <select name="selectjxj2" id="selectjxj2">
              <option>级别</option>
              <option>校级</option>
              <option>学院</option>
            </select>
            <select name="selectjxj3" id="selectjxj3">
              <option>是否留本</option>
              <option>否</option>
            </select>
             <select name="selectjxj4" id="selectjxj4">
              <option>总额</option>
              <option>余额</option>
            </select>
            <input name="area1" type="text" id="area1" value="0" size="10">
            <span>-
            </span>
            <input name="area2" type="text" id="area2" value="0" size="15">
            <input type="submit" name="shaixuan" id="shaixuan" value="筛选">
          </label></td>
        </tr>
      </tbody></table></td>
    </tr> -->
    <tr>
      <td>
        <table border="1" width="100%" cellpadding="0" cellspacing="0">
          <tbody><tr>
            <td>序号</td>
            <td>编号</td>
            <td>名称</td>
            <td>类型</td>
            <td>级别</td>
            <td>创建单位</td>
            <td>是否留本</td>
            <td>总额</td>
            <td>余额</td>
            <td>其他</td>
            </tr>
            <tr>
              <td>01</td>
              <td><span><font color="#45726B" size="2" face="Arial, Helvetica, sans-serif">A</font></span><font color="#45726B" size="2" face="Arial, Helvetica, sans-serif" >201202040001</font></td>
              <td><a href="items_details_a201202040001.html">胡国定奖学金</a></td>
              <td>奖学金</td>
              <td>校级</td>
              <td>数研所</td>
              <td>否</td>
              <td> 400，000</td>
              <td>20，000</td>
              <td><a href="items_details_a201202040001.html">详情</a> <a href="items_details_a201202040001edit.html">修改</a> <span>删除</span></td>
              </tr>
            <tr>
              <td>02</td>
              <td><span><font color="#45726B" size="2" face="Arial, Helvetica, sans-serif">AB</font></span><font color="#45726B" size="2" face="Arial, Helvetica, sans-serif" >201202040002</font></td>
              <td><span><a href="items_details_ab201202040002.html">周恩来奖学金</a></span></td>
              <td><span>奖助学金</span></td>
              <td><span>校级</span></td>
              <td><span>南开大学</span></td>
              <td><span>否</span></td>
              <td>35，000</td>
              <td>30，000</td>
              <td><span><a href="items_details_ab201202040002.html">详情</a> 修改 <span>删除</span></span></td>
              </tr>
            <tr>
              <td>03</td>
              <td><span><font color="#45726B" size="2" face="Arial, Helvetica, sans-serif">A</font></span><font color="#45726B" size="2" face="Arial, Helvetica, sans-serif" >201202030001</font></td>
              <td><span><a href="items_details_ａ201202030001.html">盛帆奖学金</a></span></td>
              <td><span>奖学金</span></td>
              <td><span>校级</span></td>
              <td><span>盛帆公司</span></td>
              <td><span>否</span></td>
              <td>44，000</td>
              <td>40，000</td>
              <td><span><a href="items_details_ａ201202030001.html">详情</a> 修改 <span>删除</span></span></td>
              </tr>
            <tr>
              <td>04</td>
              <td><span>B</span>201202030002</td>
              <td><span><a href="items_details_b201202030002.html">电装助学金</a></span></td>
              <td><span>助学金</span></td>
              <td><span>校级</span></td>
              <td><span>电装公司</span></td>
              <td><span>否</span></td>
              <td>3，000</td>
              <td>0</td>
              <td><span><a href="items_details_b201202030002.html">详情</a> 修改 <span>删除</span></span></td>
              </tr>
            <tr>
              <td>06</td>
              <td><span>E</span>201103050001</td>
              <td><span>阿依努尔救助金</span></td>
              <td><span>大病救助金</span></td>
              <td><span>校级</span></td>
              <td><span>有机化学所</span></td>
              <td><span>否</span></td>
              <td><span>400，000</span></td>
              <td><span>20，000</span></td>
              <td>详情 修改 <span>删除</span></td>
              </tr>
            <tr>
              </tr>
            </tbody>
        </table>