<h1>捐赠类型列表</h1>
<%= link_to '新建', new_donation_type_path %>
<div class="common-list">
<table>
  <thead>
    <tr>
      <th>名称</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @donation_types.each do |donation_type| %>
      <tr>
        <td><%= donation_type.name %></td>
        <td class='list-function'><%= link_to '编辑', edit_donation_type_path(donation_type) %></td>
        <td class='list-function'><%= link_to '删除', donation_type, del_confirm %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>


