<p id="notice"><%= notice %></p>

<p>
  <strong>Customer:</strong>
  <%= @self_customer.customer.name %>
</p>

<%= link_to 'Edit', edit_individual_customer_path(@self_customer) %> |
<%= link_to 'Back', get_back_path(individual_customers_path) %>
