<p id="notice"><%= notice %></p>

<p>
  <strong>Customer:</strong>
  <%= @individual_customer.customer.name %>
</p>

<%= link_to 'Edit', edit_individual_customer_path(@individual_customer) %> |
<%= link_to 'Back', individual_customers_path %>
