<h1>Listing online_customers</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @online_customers.each do |online_customer| %>
      <tr>
        <td><%= link_to 'Show', online_customer %></td>
        <td><%= link_to 'Edit', edit_online_customer_path(online_customer) %></td>
        <td><%= link_to 'Destroy', online_customer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Online customer', new_online_customer_path %>
