<p id="notice"><%= notice %></p>

<p>
  <strong>Customer:</strong>
  <%= @online_customer.customer %>
</p>

<%= link_to 'Edit', edit_online_customer_path(@online_customer) %> |
<%= link_to 'Back', online_customers_path %>
