<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @teacher_title.name %>
</p>

<%= link_to 'Edit', edit_teacher_title_path(@teacher_title) %> |
<%= link_to 'Back', teacher_titles_path %>
