<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @project_level.name %>
</p>


<%= link_to 'Edit', edit_project_level_path(@project_level) %> |
<%= link_to 'Back', project_levels_path %>
