<h1>Users#search</h1>
<p>Find me in app/views/users/search.html.erb</p>

<button data-target="myModal" data-toggle="modal">test</button>

<div class="modal fade" id="myModal">
  <div class="modal-dialog">

  </div>
</div>