<h1>新建客户</h1>

<%= link_to '个人客户', employee_add_individual_customer_path %>
<%= link_to '企业客户', new_corporate_customer_path %>
<%= link_to '组织客户', new_orgnization_customer_path %>
<%= link_to '在线客户', new_online_customer_path %>
