<h1>资金页面</h1>
<%= link_to '实际资金', employee_manage_funds_path(type: :actual) %>|
<%= link_to '计划资金', employee_manage_funds_path(type: :plan) %>|
<%= link_to '管理单位', employee_manage_fund_manage_unit_path%>