<h1>资金页面</h1>
<table class="fund-data-table">
  <tbody>
    <tr>
      <th>类别 </th>
      <th>金额</th>
      <th>时间</th>
    </tr>

  <% Fund.all.order('updated_at DESC').each do |fund| %>
    <tr>
      <td><%= link_to t(fund.fund_instance_type, scope: 'fund.instance_type.project'), fund %></td>
      <td><%= fund.amount %></td>
      <td><%= l fund.updated_at %></td>
    </tr>

  <% end %>

  </tbody>
</table>
<div id='employee-fund-list'>
  <ul>
  </ul>
</div>
