<h1>资金页面</h1>
<div id='employee-fund-list'>
  <ul>
  <% Fund.all.order('updated_at DESC').each do |fund| %>
    <li><%= link_to t(fund.fund_instance_type, scope: 'fund.instance_type.project'), fund %><span><%= localize_time fund.updated_at %></span></li>
  <% end %>
  </ul>
</div>
