<p id="notice"><%= notice %></p>

<p>
  <strong>Customer:</strong>
  <%= @orgnization_customer.customer %>
</p>

<%= link_to 'Edit', edit_orgnization_customer_path(@orgnization_customer) %> |
<%= link_to 'Back', orgnization_customers_path %>
