<% environment.context_class.instance_eval { include Rails.application.routes.url_helpers } %>
root = exports ? this

getFormHref = ->
	href = window.location.href
	if href.match(/.*s$/)
		href += '/new'
	if href.match(/.*s\/\d+$/)
		href += '/edit'
	href

dosome = ->
	form = $('.common-form')
	return if form.length == 0
	form_wrap = $(form[0])
	form = form_wrap.children('form').first()
	return if $('div.field').children('a').length == 0
	refresh = $("<a href=''>刷新</a>")
	wait = $("<div style='color: gray'>请等待...</div>")
	refresh.click ->
		$(this).hide()
		wait.show()
		form = form_wrap.children('form').first()
		formdata = form.serialize()
		that = $(this)
		$.ajax({
			url: getFormHref(),
			type: 'GET',
			async: true,
			success: (res)-> 
				that.show()
				wait.hide()
				new_form = $(res).find('form').first()
				form = form_wrap.children('form').first()
				static_field = form.children('.static-form-field')
				new_form.children('.static-form-field').replaceWith(static_field)
				form.replaceWith(new_form)
				reverse_date_select_field()
				new_form.deserialize(formdata)
		})

		false
	form_wrap.prepend(refresh)
	form_wrap.prepend(wait)
	wait.hide()
	# $("div.field").each ->
	# 	if $(this).children("a[target='_blank']").size() > 0
	# 		console.log $(this).children('select')

init_region_select = ->
	path = {
		state: "<%= region_state_path %>",
		city: "<%= region_city_path %>"
	}
	for pair in [['country', 'state'], ['state', 'city']]
		h = pair[0]
		l = pair[1]
		((h,l)->
			$("#region_#{h}_select").change ->
				val = $("#region_#{h}_select").val()
				$.ajax({
					url: path[l],
					type: 'GET',
					async: true,
					data: {p_id: val},
					datatype: 'json',
					success: (res)->
						selector = $("#region_#{l}_select")
						blank = selector.children()[0]
						selector.children().remove()
						selector.append(blank)
						for obj in res
							opt = $('<option/>')
							opt.val(obj.id)
							opt.html(obj.name)
							selector.append(opt)
						selector.change()
				})
		)(h,l)


reverse_date_select_field = ->
	$('.date-select').each ->
		ds = $(this)
		tmp = ds.children("option:selected")
		ds.append(ds.children().get().reverse())   
		tmp.attr('selected','selected')

init_check_input = ->
	$('form .need-check').each ->
		t = $(this)
		check_url = t.attr('check-to')

		t.children('input').blur ->
			if (hint = t.children('.check-hint')).length then hint.remove()

			check_info = {}
			check_info['field'] = t.attr('field')
			check_info['val']	= $(this).val()
			if (id = t.attr('current-id')).length then check_info['current_id'] = id

			$.ajax({
				url: window.location.origin+check_url,
				type: 'GET',
				async: true,
				data: check_info,
				dataType: 'json',	# this is nessary. without it the browser [chrome(Version 38.0.2125.101 (64-bit))]
									# will sometiomes bug on interpret the response content
				success: (res)->
					if res.length>0
						console.log(res, res.length)
						hint = $("<span/>")
						hint.addClass("check-hint")
						hint.html("已存在客户：")
						for c in res
							hint.append("<a href=#{c.url} target='_blank'>#{c.name}</a> ")
						t.append(hint)
			})

ready = ->
	# puts $('#employee-nav-bar-function-area').html()
	dosome()
	init_region_select()
	reverse_date_select_field()
	init_check_input()

$(document).ready(ready)
$(document).on('page:load', ready)