// Place all the styles related to the CustomerGroups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.select-panel-content{
	margin-top: 100px;
}

.selected-deletor{
	margin-left: 10px;
	&:hover{
		cursor: pointer;
	}
}