// Place all the styles related to the Employees controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#manage-subjects{
	margin-left: 15%;
}
.manage-subject{
	padding: 0 50px;
	float: left;
	display: inline-block;
}

.manage-subject li{
	list-style: none;
}

.manage-subject ul{
	text-align: center;
	-webkit-padding-start: 0px;
}

.manage-subject + .manage-subject{
	border-left: 1px solid gray;
}
