// Place all the styles related to the Employees controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'common_color';

//====NAV-BAR====
$nav_bar_height : 30px;
#employee-nav-bar{
	cursor: default;
	height: $nav_bar_height;
	color: white;
	background-color: lighten($heliotrope, 30%);
	margin-bottom: 20px;
}

#employee-nav-bar a{
	color: #fff;
	text-decoration: none;
  &:visited {
    color: #fff;
  }
  &:hover {
    color: #fff;
  }
}

#employee-nav-bar-title{
	position: absolute;
	margin-top: 3px;
	font-size: 1.2em;
	font-weight: 900;
	margin-left: 2px;
	margin-right: 15px;
	color: Cornsilk;
}


#employee-nav-bar div{
	display: inline-block;
}

#employee-nav-bar .link{
	margin-left: 120px;
	height: $nav_bar_height;
}

#employee-nav-bar .right{
	position: absolute;
	right: 10px;
	height: $nav_bar_height;
}

$elm_padding_top: 4px;
#employee-nav-bar .elm{
	padding: $elm_padding_top 5px 0px 5px;
	height: $nav_bar_height - $elm_padding_top;
	&:hover {
    background-color: $heliotrope;
  }
}

#employee-nav-bar-function-area{
	box-sizing: border-box;
	position: absolute;
	top: 0px;
	left: 50%;
	// width: 180px;
	height: $nav_bar_height;
	padding: 0 15px;
	// margin-left: -90px;
	text-align:center;
	background-color: lighten($heliotrope, 40%);
  &:hover {
  	// cursor: pointer;
  	// $border-style : 1px solid white;
  	// border-left: $border-style;
  	// border-right: $border-style;
   //  color: #fff;
   //  background-color: lighten($heliotrope, 20%);
  }
}

#employee-nav-bar-function-area div{
	margin-top: $elm_padding_top+1;
	height: $nav_bar_height - $elm_padding_top;
}


//====MANAGE-MAIN-PAGE====
#manage-subjects{
	margin-left: 15%;
}

.manage-subject{
	padding: 0 50px;
	float: left;
	display: inline-block;
}

.manage-subject a{
	color: gray;
	text-decoration: none;
  &:visited {
    color: gray;
  }
  &:hover {
    color: black;
  }
}

.manage-subject li{
	list-style: none;
}

.manage-subject .title{
	text-align: center;
}

.manage-subject ul{
	text-align: left;
	-webkit-padding-start: 0px;
}

.manage-subject + .manage-subject{
	border-left: 1px solid gray;
}

.manage-grid .title{
	padding: 6px;
	color: white;
	vertical-align: middle;
	// margin-bottom: 15px;
	font-size: 12px;
	a:visited {
		color: white;
	}
	a:hover {
		color: white;
	}
}

.manage-grid .title-text{
	margin-left: 20px;
	font-size: 26px;
	margin-right: 10px;
}

.manage-grid .list-cells{
  border: solid 1px gray;
  border-top: none;
  padding: 20px 5px;
}
.manage-grid .date{
	position: absolute;
	right: 20%;
	color: gray;
	font-size: 10px;
	height: 16px;
	line-height: 20px;
}
.manage-grid .list-cell-line{
	position: relative;
	width: 100%;
	// border-bottom: dashed 1px #CCCCCC;
	margin-bottom: 1px;
	margin-top: 1px;
}
.manage-grid .list-cell{
	display: inline;
	font-size: 16px;
	list-style: none;
	a{
	  	text-decoration: none;
		font-weight: 800;
		margin-left: 30px;
	}
}
.manage-grid .type{
	position: absolute;
	font-size: 12px;
	height: 16px;
	line-height: 20px;
}

#manage-grid-up, #manage-grid-down{
	height: 330px;
	// background-color: gray;
}

.manage-grid-left, .manage-grid-right{
	text-align: left;
	margin: 0;
	vertical-align: top;
	display: inline-block;
	width: 47%;
	height: 100%;
	hr{
		margin: 0px;
		border: none;
		border-top: dashed 1px #CCCCCC;	
	}
	// background-color: gray;
}
.manage-project{
	.title{
		background-color: #0099CC;
	}
	a{
		color: #000066;
		&:visited {
		    color: #000066;
		}
		&:hover {
			color: #000066;
		}
	 }
	.list-cell-line{
		&:hover{
			background-color: lighten(#0099CC, 40%); 
		}
	}
	.type{
		left: 55%;
		color: darken(#0099CC, 20%);
	}
}

.manage-customer{
	.title{
		background-color: #99CC00;
	}
	.list-cell-line{
		&:hover{
			background-color: lighten(#99CC00, 40%); 
		}
	}
	$acolor: darken(darkslategray, 10%);
	a{
		color: $acolor;
		&:visited {
		    color: $acolor;
		}
		&:hover {
			color: $acolor;
		}
	 }
	.type{
		right: 30%;
		color: darkslategray;
	}
}
// .manage-grid-content{
// 	width: 40%;
// 	height: 100%;
// 	background-color: yellow;
// }
.manage-grid-vertical-hr{
	display: inline-block;
	width: 0;
	height: 100%;
	// border-left: solid 1px black;
}
.manage-grid-hr{
	margin: 0;
}
// .manage-grid-left{
// 	margin-right: 25px;
// }
// .manage-grid-right{
// 	margin-left: 25px;
// }
//====MANAGE====
.employee-data-table{
	border-collapse:collapse;  
	border-spacing:0; 
	width: 80%;
}

.employee-data-table th{
	height: 32px;
	background-color: #7C124F;
	color: white;
}

.employee-data-table th,td{
	 border: 1px solid black;
	 padding: 0px;
}
//====COMMON LIST====
.employee-common-list{
	width: 200px;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
}
//====PROJECT-SHOW(tmp)====
#project-info hr{
	width: 80%;
}

#project-info-header{
	text-align: center;
	height: 24px;
	background-color: #45726B;
}

#project-info .info-block{
	position: relative;
	left: 50%;
	$width: 600px;
	width: $width;
	margin-left: -$width/2;
	text-align: left;
}

#project-info .info-block div{
	display: inline;
	margin-right: 15px;
}

#project-info div span{
	color: green;
}

//====FUND LIST====
#fund-list{
	color: black;
}