// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.delete-attachment{
	margin-left: 5px;
}

#project_brief{
	width: 32em;
	height: 8em;
}