<p id="notice"><%= notice %></p>

<p>
  <strong>Customer:</strong>
  <%= @corporate_customer.customer %>
</p>

<%= link_to 'Edit', edit_corporate_customer_path(@corporate_customer) %> |
<%= link_to 'Back', corporate_customers_path %>
